<a href="https://colab.research.google.com/github/napasuresh/Python_Tutorial/blob/master/First_Python_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print("Hellow, Greetings!")
print("My name is Suresh I am 52 years of Age")
print ("How are you?")
print ("Hellow, Greetings!")
print ("How are you?")

print ("This is Suresh Napa from Hyderabad")
print ("I am looking for a new domain opportunity")

print ("This is Suresh Napa from Hyderabad. \n I am looking for a new domain opportunity")

Hellow, Greetings!
My name is Suresh I am 52 years of Age
How are you?
Hellow, Greetings!
How are you?
This is Suresh Napa from Hyderabad
I am looking for a new domain opportunity
This is Suresh Napa from Hyderabad.
 I am looking for a new domain opportunity

In [11]:
print ("My name is Suresh Napa")

My name is Suresh Napa

Writing my first code , I hope this journey is awesome!

In [12]:
print ("My name is Suresh        Napa")

My name is Suresh        Napa

In [13]:
print ("My name is Suresh Napa")
print ("My name is Suresh Napa")
print ("My name is Suresh Napa")
print ("My name is Suresh Napa")
print ("My name is Suresh Napa")

My name is Suresh Napa
My name is Suresh Napa
My name is Suresh Napa
My name is Suresh Napa
My name is Suresh Napa

In [14]:
print ("Test duratuion\nTest duratuion\nTest duratuion")

Test duratuion
Test duratuion
Test duratuion

In [18]:
print("Test duration\n"*10)

Test duration
Test duration
Test duration
Test duration
Test duration
Test duration
Test duration
Test duration
Test duration
Test duration

In [19]:
print?

In [20]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
print("hey")

hey

In [22]:
Print("hey")

NameError: ignored

In [23]:
print("hey")
 print("hey")

IndentationError: ignored

In [24]:
print("hey")
print("hey")

hey
hey

In [25]:
 print("hey")
 print("hey")
print("hey")

hey
hey
hey

In [33]:
#...THIS IS A FIRST DAY OF LEARNING PYTHON.

In [34]:
#@title Default title text
'''THIS IS A FIRST DAY OF LEARNING PYTHON
enjoy the session
Python is easy
'''

'THIS IS A FIRST DAY OF LEARNING PYTHON\nenjoy the session\nPython is easy\n'

In [38]:
# Variables
message="Please stop WAR!"

In [39]:
print(message)

Please stop WAR!

In [42]:
# Variables
message1="Please stop WAR!"
message2="WAR is not a solution!"
message3="Please work for peace!"
print(message1)
print(message2)
print(message3)

Please stop WAR!
WAR is not a solution!
Please work for peace!

In [44]:
print(message1*5)

Please stop WAR!Please stop WAR!Please stop WAR!Please stop WAR!Please stop WAR!

In [48]:
print(message*5)

Please stop WAR!Please stop WAR!Please stop WAR!Please stop WAR!Please stop WAR!

In [49]:
print(message1,message2,message3)

Please stop WAR! WAR is not a solution! Please work for peace!

In [50]:
# Variables
message1="Please stop WAR!"
message2="WAR is not a solution!"
message3="Please work for peace!"
print(message1,message2,message3)
# print(message1,message2,message3)

Please stop WAR! WAR is not a solution! Please work for peace!

In [51]:
num1=10
num2=20

In [52]:
num1+num2

30

In [53]:
num1+message1

TypeError: ignored

In [54]:
str(num1)+message1

'10Please stop WAR!'

In [55]:
x=input("Please enter a number")
print(x*9)
print(int(x)*9)

Please enter a number3
333333333
27